<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.nutrifitsta">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name=".NutriFitstaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_size"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_size"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriFitsta"
        android:screenOrientation="portrait">
        <activity android:name=".ComposeActivity"
            android:configChanges="orientation|screenSize"></activity>
        <activity android:name=".SignUpActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".StartActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.codepath.fileprovider.NUTRIFITSTA"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>